.white-image {
  filter: brightness(0) invert(1); /* Makes the image solid white */
}

.selected {
  background-color: #d55a90 !important;
}

.category-badge {
  border-radius: 24px;
  min-width: 120px;
  min-height: 30px;
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5; /* Adjust as per badge size */
  background-color: rgba(var(--bd-violet-rgb), 1) !important;
}

.category-badge-tag {
  border-radius: 24px;
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5; /* Adjust as per badge size */
  /* background-image: linear-gradient(
    rgba(var(--bd-violet-rgb), 1),
    rgba(var(--bd-violet-rgb), 0.95)
  ); */
}

.category-badge:hover {
  background-color: #66b2ff; /* Lighter color on hover */
  cursor: pointer; /* Change to pointer on hover */
}

.subcategory-badge {
  border-radius: 18px;
  min-width: 120px;
  min-height: 30px;
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5; /* Adjust as per badge size */
  /* background-color: #fbe2ab !important; */
}
.subcategory-badge {
  cursor: pointer; /* Change to pointer on hover */
}

.counter-badge {
  font-size: 11px;
  border-radius: 4px;
}

.ar-ctn-btn {
  border-radius: 20px;
}

.card-title {
  font-size: 1.1rem !important;
  color: white !important;
}

.ai-icon {
  height: 20px;
}

.form-check-input {
  clear: left;
}

.form-switch.form-switch-lg {
  /*margin-bottom: 1 rem;  JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-lg .form-check-input {
  height: 1.7rem;
  width: calc(3rem + 0.75rem);
  border-radius: 4rem;
}

.form-check-input:checked {
  background-color: #ffc107; /* Bootstrap warning yellow */
  border-color: #ffc107; /* Match border color */
}

.floating-chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #6931ed;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.osamaa{
  color: black;
}
.floating-chatbot:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.floating-chatbot i {
  font-size: 24px;
}